body {
  font-family: Lucida Console, Monaco5, monospace;
  height: 100vh;
}

h1 {
  text-align: center;
}

.app {
  text-align: center;
}

.searchBar {
  width: 400px;
}

.itemArea {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.itemArea .item:nth-child(odd) {
  background: #f0f0f2;
}

.itemArea .item:hover {
  background: #dadadc;
}

.item {
  text-align: left;
  padding: 6px 0 6px 6px;
  cursor: pointer;
  min-height: 50px;
  box-sizing: border-box;
}

.itemCollapse {
  height: 50px;
}

.buttons {
  margin-top: 8px;
}

.buttons button {
  font-family: Lucida Console, Monaco5, monospace;
  padding: 10px;
  font-size: 14px;
}